<%- include('partials/header.ejs') %>
<%- include('partials/navbar.ejs') %>


<section class="container-quem-somos">

    <article class="servico">
        <img src="/img/icon_ai.png" class="icone" alt="Inteligência Artificial">
        <p class="servico-texto">
            Somos especialistas em <span class="servico-texto-realce">Inteligência Artificial (AI)</span><br>
            Trabalhamos para encontrar soluções tecnologicamente inteligentes para todas as áreas empresariais.
        </p>
    </article>

    <article class="servico">
        <img src="/img/icon_lab.png" class="icone" alt="Laboratório moderno">
        <p class="servico-texto">
            Os nossos laboratórios são os mais modernos da atualidade.
        </p>
    </article>

    <article class="servico">
        <img src="/img/icon_computer.png" class="icone" alt="Programadores experientes">
        <p class="servico-texto">
            Os nossos colaboradores são os técnicos mais experientes do mercado.
        </p>
    </article>

</section>


<!-- ver servicos ou contatos -->
<section class="container-servicos-contatos">

    <h1>Obtenha mais informações na área de serviços ou contatos.</h1>

        <div class="botoes-servicos-contatos">
            <a href="/servicos">Ver serviços</a>
            <a href="/contatos">contatos</a>
        </div>

</section>
<%- include("partials/footer") %>